.container{

    top: 10vh;
    
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 76vh;
    width: 90vh;
}
.flexbox{
    height:90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }

p{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(70, 69, 69);
}

#addCheck{
    padding: 10px;
    background-color: #002f5d;
    color: rgb(184, 183, 183);
    border: 0;
    position: fixed;
    bottom: 7%;
    left: 45%;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

.addNew{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#selection{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#questions{
    display: flex;
}

textarea{
    width: 95%;
}
.initial{
    padding-top: 20%;
    border-collapse: collapse;
    height: 60vh;
    width: 100vh;
    overflow-y: scroll;
    
}

input[type=submit]{
    padding: 10px;
    background-color: #002f5d;
    color: rgb(184, 183, 183);
    border: 0;
    position: fixed;
    bottom: 2.5%;
    left: 45%;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
}

#addCheck:hover{
    background-color: black;
}

input[type=submit]:hover{
    background-color: black;
}

form{
    font-family: Arial, Helvetica, sans-serif;
}

p{
    font-size: 1.25em;
    font-weight: bold;
}
input[type=radio]{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(70, 69, 69);

}
.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#timerinvis{
    visibility: hidden;
}
