*{
	color: white;
}

body{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    /*background-color: rgb(184, 183, 183);*/
    background-image: url('quiz.jpg');
    background-position: center !important;
    background-size: cover !important;
}
.navleft{
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0%;
    background-color: #002f5d;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
.navright{
    position: fixed;
    width: 50%;
    top: 0%;
    right: 0%;
    background-color: #002f5d;
    padding: 0;
    margin: 0;
    list-style-type: none;
}
li a{
    display: block;
    color: #FFFFFF;
    padding: 20px 20px 20px 20px;
    text-align: center;
    text-decoration: none;
    font-size: larger;
}
.navleft li{
    float: left;
}
.navright li{
    float: right;
}
li a:hover{
    background-color: black;
}

h1{
    color: white;
    -webkit-text-stroke: 1.25px black;
}
