#container{
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
	text-align: center;
    
}
h1{
    font-size: 3em;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
}
p{
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-weight: bold;
}
#joinbtn, #createbtn{
    padding: 10px;
    background-color: #002f5d;
    color: #FFFFFF;
    border: 0;
    margin: 20px;
}
#createbtn:hover, #joinbtn:hover{
    background-color: black;
}


#homeCard {
	margin-top: 10%;
	width: 80%;
	/*
	#we can discuss this later
	#border: 2px solid #002f5d;
	#border-radius: 20px;
	#backdrop-filter: blur(5px);
    */
}

#homeButtons {
	padding: 10px;
	display: flex;
	flex-flow: row;
	justify-content: center;
}