.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    overflow-y: auto;
    flex-direction: column;
    position: relative;
    height: 90vh;
}
.initial{
    position: absolute;
    top: 20%;
    padding: 0;
    border-collapse: collapse;
    height: 60vh;
    overflow-y: scroll;
}
body{
    background-position: center;
}